@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tektur:wght@700&display=swap');

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
    --DARK-COLOR: #15151b;
    --BG-COLOR: #282830;
    --PINK-COLOR: #ff00b7;
    --WHITE-COLOR: whitesmoke;
}

/* GENERAL STYLES */

body {
  font-family: 'Roboto', 'Times New Roman', sans-serif;
  background-color: var(--BG-COLOR);
  color: whitesmoke;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-family: 'Tektur', cursive;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  text-align: center;
  color: var(--PINK-COLOR);
}

/* HEADER */

header {
  padding: 40px 0;
  background-color: var(--DARK-COLOR);
}

header > h1 {
  font-size: 42px;
}

/* SCOREBOARD */

.scoreboard {
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.player-score, .computer-score {
  min-width: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.score-text {
  font-size: 2rem;
  font-weight: 700;
}

.score-number {
  font-size: 5rem;
  font-weight: 700;
}

/* MESSAGE */

.message {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

/* OPTIONS */

.game-options {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.option {
  min-width: 200px;
  padding: 20px;
  background-color: #424242;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option:hover {
  background-color: #5d5d5d;
  cursor: pointer;
}

.option > .emoji {
  font-size: 7rem;
}

.option > .option-text {
  font-family: 'Tektur', cursive;
  font-size: 2rem;
}

/* FOOTER */

footer {
  min-width: 100vw;
  position: absolute;
  bottom: 15px;
}

footer > p {
  text-align: center;
  font-weight: 700;
}

/* GAME RESULT ALERT */

.result-alert {
  z-index: 1;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  padding: 40px 70px;
  width: 800px;
  height: 400px;
  background-color: var(--DARK-COLOR);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgb(199, 199, 199);
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  top: 250px;
}

.result-alert > h1 {
  font-size: 64px;
}

.result-alert > button {
    display: block;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    padding: 20px 70px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--PINK-COLOR);
    color: var(--WHITE-COLOR);
    border: none;
    border-radius: 30px;
}

.result-alert > button:hover {
    opacity: 0.8;
    cursor: pointer;
}
